<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wa.cluemrg.dao.AlarmReceiptMapper">

    <resultMap id="AlarmReceiptResultMap" type="com.wa.cluemrg.entity.AlarmReceipt">
        <id property="seq" column="SEQ"/>
        <result property="alarmTime" column="ALARM_TIME"/>
        <result property="department" column="DEPARTMENT"/>
        <result property="phone" column="PHONE"/>
        <result property="victim" column="VICTIM"/>
        <result property="id" column="ID"/>
        <result property="jurisdiction" column="JURISDICTION"/>
        <result property="jurisdiction2" column="JURISDICTION2"/>
        <result property="address" column="ADDRESS"/>
        <result property="content" column="CONTENT"/>
        <result property="type" column="TYPE"/>
        <result property="lossMoney" column="LOSS_MONEY"/>
        <result property="stopPaymentMoney" column="STOP_PAYMENT_MONEY"/>
        <result property="stopPaymentAccount" column="STOP_PAYMENT_ACCOUNT"/>
        <result property="state" column="STATE"/>
        <result property="jqno" column="JQNO"/>
    </resultMap>

    <!-- 根据所有字段查找Clue -->
    <select id="selectAll" resultMap="AlarmReceiptResultMap">
        SELECT *
        FROM alarm_receipt
        <where>
            <if test="seq != null">
                AND SEQ = #{seq}
            </if>
            <if test="alarmTime != null">
                AND ALARM_TIME = #{alarmTime}
            </if>
            <if test="department != null and department != ''">
                AND DEPARTMENT LIKE CONCAT('%', #{department}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND PHONE LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="victim != null and victim != ''">
                AND VICTIM LIKE CONCAT('%', #{victim}, '%')
            </if>
            <if test="id != null and id != ''">
                AND ID LIKE CONCAT('%', #{id}, '%')
            </if>
            <if test="jurisdiction != null and jurisdiction != ''">
                AND JURISDICTION LIKE CONCAT('%', #{jurisdiction}, '%')
            </if>
            <if test="jurisdiction2 != null and jurisdiction2 != ''">
                AND JURISDICTION2 LIKE CONCAT('%', #{jurisdiction2}, '%')
            </if>
            <if test="address != null and address != ''">
                AND ADDRESS LIKE CONCAT('%', #{address}, '%')
            </if>
            <if test="content != null and content != ''">
                AND CONTENT LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="type != null and type != ''">
                AND TYPE LIKE CONCAT('%', #{type}, '%')
            </if>
            <if test="lossMoney != null">
                AND LOSS_MONEY = #{lossMoney}
            </if>
            <if test="stopPaymentMoney != null">
                AND STOP_PAYMENT_MONEY = #{stopPaymentMoney}
            </if>
            <if test="stopPaymentAccount != null">
                AND STOP_PAYMENT_ACCOUNT = #{stopPaymentAccount}
            </if>
            <if test="state != null and state != ''">
                AND STATE LIKE CONCAT('%', #{state}, '%')
            </if>
            <if test="jqno != null and jqno != ''">
                AND JQNO LIKE CONCAT('%', #{jqno}, '%')
            </if>
        </where>
        order by ALARM_TIME desc
    </select>

    <!-- 增加数据操作 -->
    <insert id="insert" parameterType="com.wa.cluemrg.entity.AlarmReceipt">
        INSERT INTO alarm_receipt (ALARM_TIME, DEPARTMENT, PHONE, VICTIM, ID, JURISDICTION, JURISDICTION2,
                                   ADDRESS, CONTENT, TYPE, LOSS_MONEY, STOP_PAYMENT_MONEY, STOP_PAYMENT_ACCOUNT, STATE, JQNO)
        VALUES (#{alarmTime}, #{department}, #{phone}, #{victim}, #{id}, #{jurisdiction}, #{jurisdiction2},
                #{address}, #{content}, #{type}, #{lossMoney}, #{stopPaymentMoney}, #{stopPaymentAccount}, #{state}, #{jqno})
    </insert>

    <!-- 更新数据操作 -->
    <update id="update" parameterType="com.wa.cluemrg.entity.AlarmReceipt">
        UPDATE alarm_receipt
        SET ALARM_TIME = #{alarmTime}, DEPARTMENT = #{department}, PHONE = #{phone}, VICTIM = #{victim}, ID = #{id},
            JURISDICTION = #{jurisdiction}, JURISDICTION2 = #{jurisdiction2}, ADDRESS = #{address}, CONTENT = #{content},
            TYPE = #{type}, LOSS_MONEY = #{lossMoney}, STOP_PAYMENT_MONEY = #{stopPaymentMoney},
            STOP_PAYMENT_ACCOUNT = #{stopPaymentAccount}, STATE = #{state}, JQNO = #{jqno}
        WHERE SEQ = #{seq}
    </update>

    <!-- 删除数据操作 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM alarm_receipt WHERE SEQ = #{seq}
    </delete>

    <!-- 插入操作/更新 -->
    <insert id="batchInsertOrUpdate" parameterType="com.wa.cluemrg.entity.DkClue">
        INSERT IGNORE alarm_receipt (ALARM_TIME, DEPARTMENT, PHONE, VICTIM, ID, JURISDICTION, JURISDICTION2,
        ADDRESS, CONTENT, TYPE, LOSS_MONEY, STOP_PAYMENT_MONEY, STOP_PAYMENT_ACCOUNT, STATE, JQNO)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.alarmTime}, #{item.department}, #{item.phone}, #{item.victim}, #{item.id}, #{item.jurisdiction},#{item.jurisdiction2}, #{item.address}, #{item.content}, #{item.type}, #{item.lossMoney}, #{item.stopPaymentMoney},#{item.stopPaymentAccount}, #{item.state}, #{item.jqno})
        </foreach>
        ON DUPLICATE KEY UPDATE
        ALARM_TIME = VALUES(ALARM_TIME),
        DEPARTMENT = VALUES(DEPARTMENT),
        PHONE = VALUES(PHONE),
        VICTIM = VALUES(VICTIM),
        JURISDICTION = VALUES(JURISDICTION),
        JURISDICTION2 = VALUES(JURISDICTION2),
        ADDRESS = VALUES(ADDRESS),
        CONTENT = VALUES(CONTENT),
        TYPE = VALUES(TYPE),
        LOSS_MONEY = VALUES(LOSS_MONEY),
        STOP_PAYMENT_MONEY = VALUES(STOP_PAYMENT_MONEY),
        STOP_PAYMENT_ACCOUNT = VALUES(STOP_PAYMENT_ACCOUNT),
        STATE = VALUES(STATE),
        JQNO = VALUES(JQNO)
    </insert>

    <select id="getLatestDate" resultType="string">
        SELECT DATE_FORMAT(ALARM_TIME, '%Y-%m-%d') FROM alarm_receipt order by ALARM_TIME DESC LIMIT 1
    </select>

</mapper>
