<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING" />   <!-- 打印sql语句，本地调试时可以开启 -->
    </settings>
    <typeAliases>
        <package name="com.wa.cluemrg.entity"/>
    </typeAliases>
</configuration>